 ---
 ---

@import "{{ site.theme }}";

html,body{
	width:100%;
	text-shadow:none;
}
#container{
	height:auto;
	width:75%;
	margin:auto
	border:2px solid red;
}
.inner,#main-content{
	height:auto;
	width:90%;
	margin:auto;
	padding:10px;
	text-shadow:none;
	border:2px solid blue;
}
ul li{
	padding-left:none;
}
.language-plaintext{
	background-color:#424B54;
	padding:5px;
	color:white;
	text-shadow:none;
}