---
---
@import "{{ site.theme }}";
html,body{
	width:100%;
}



#container{
	height:auto;
	width:75%;
	margin:auto
}
.inner,#main-content{
	height:auto;
	width:90%;
	margin:auto;
	padding:10px;
}

hr{
	color: 1px solid black;
}

.language-plaintext{
	background-color:#424B54;
	padding:5px;
	color:white;
	text-shadow:none;
}