---
---
@import "{{ site.theme }}";
html,body{
	width:100%;
}



#container{
	height:auto;
	width:75%;
	margin:auto
}
.inner,#main-content{
	height:auto;
	width:100%;
	margin:auto;
	background-color:green;
}

hr{
	color: 1px solid black;
}